body{
    margin: 0;
    background-color: green;
    font-family: sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: goldenrod;
    font-size: 55px;
    font-weight: bold;
}
p{
    color: azure;
}
#message-el{
    font-style: italic;
    color: azure;
}
button{
    padding: 10px 50px;
    background-color: goldenrod;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin: 4px;
}